{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
  <div class="container">
    <div class="row">
      <div class="hero-text">
        <h1>Hello revel</h1>
        <h1>{{.usernames}}</h1>
        <p></p>
      </div>
    </div>
  </div>
</header>

<div class="container">
<div class="row">
  <div class="span6">
    <form action="/App/Create" method="POST">
      {{with $field := field "username" .}}
      <input type="text" name="{{$field.Name}}" value="{{$field.Flash}}" />
      </br>
      {{end}}
      <input type="submit" value="say hello" />
    </form>
    {{template "flash.html" .}}
  </div>
  </div>
</div>

{{template "footer.html" .}}
